@model PermitToWork.Models.FIEntity
@{
    var listUser = ViewBag.listUser as PermitToWork.Models.User.ListUser;
    bool[] isCanEdit = ViewBag.isCanEdit as bool[];
    var requestor = Session["user"] as PermitToWork.Models.User.UserEntity;
}
<script>
    $(document).ready(function () {
        addHandlerMenu();
        //function startChangeValidity() {
        //    var startDate = startValidity.value();

        //    if (startDate) {
        //        startDate = new Date(startDate);
        //        startDate.setDate(startDate.getDate());
        //        endValidity.min(startDate);
        //    }
        //}

        //function endChangeValidity() {
        //    var endDate = endValidity.value();

        //    if (endDate) {
        //        endDate = new Date(endDate);
        //        endDate.setDate(endDate.getDate());
        //        startValidity.max(endDate);
        //    }
        //}

        //var startValidity = $("#duratioFrom").kendoDateTimePicker({
        //    change: startChangeValidity,
        //    parseFormats: ["MM/dd/yyyy"]
        //}).data("kendoDateTimePicker");

        //var endValidity = $("#durationUntil").kendoDateTimePicker({
        //    change: endChangeValidity,
        //    parseFormats: ["MM/dd/yyyy"]
        //}).data("kendoDateTimePicker");

        //startValidity.max(endValidity.value());
        //endValidity.min(startValidity.value());

        $('#save-complete').click(function () {
            var values = {
                id: '@Model.id',
                purpose: $('#purpose').val(),
                area_affected: $('#area_affected').val(),
                fire_watch: $('#fire_watch').val(),
            }
            values.who = $(this).data('who');
            values.screening_remark = $('#screening_remark').val();
            values.screening_fo = $('#screening_fo_1').val() + "#" + $('#screening_fo_2').val() + "#" +
                        $('#screening_fo_3').val() + "#" + $('#screening_fo_4').val() + "#" +
                        $('#screening_fo_5').val() + "#" + $('#screening_fo_6').val();
            values.screening_so = $('#screening_so_1').val() + "#" + $('#screening_so_2').val() + "#" +
                        $('#screening_so_3').val() + "#" + $('#screening_so_4').val() + "#" +
                        $('#screening_so_5').val() + "#" + $('#screening_so_6').val();
            values.screening_spv = $('#screening_spv_1').val() + "#" + $('#screening_spv_2').val() + "#" +
                        $('#screening_spv_3').val() + "#" + $('#screening_spv_4').val() + "#" +
                        $('#screening_spv_5').val() + "#" + $('#screening_spv_6').val();

            if (values.who == "2") {
                if (values.screening_spv.indexOf("2") >= 0) {
                    if (values.screening_remark.indexOf("Spv:") < 0) {
                        alert('Screening contains one or more \'no\'. Please add Notes start with \'Spv:\'');
                        $('#screening_remark_required').show();
                        $('#screening_remark_required').html('Notes must be added. Start with \'Spv:\'');

                        return;
                    }
                }
            } else if (values.who == "3") {
                if (values.screening_so.indexOf("2") >= 0) {
                    console.log(values.pre_remark);
                    if (values.screening_remark.indexOf("SO:") < 0) {
                        alert('Screening contains one or more \'no\'. Please add Notes start with \'SO:\'');
                        $('#screening_remark_required').show();
                        $('#screening_remark_required').html('Notes must be added. Start with \'SO:\'');

                        return;
                    }
                }
            } else if (values.who == "4") {
                if (values.screening_fo.indexOf("2") >= 0) {
                    if (values.screening_remark.indexOf("FO:") < 0) {
                        alert('Screening contains one or more \'no\'. Please add Notes start with \'FO:\'');
                        $('#screening_remark_required').show();
                        $('#screening_remark_required').html('Notes must be added. Start with \'FO:\'');

                        return;
                    }
                }
            }

            $('#loading_gif').show();
            $(this).attr('disabled', 'disabled');
            $('#save-as-draft').attr('disabled', 'disabled');
            $('#back').attr('disabled', 'disabled');
            
            $.post('@Url.Action("SaveComplete","fi")', values, function (resp) {
                if (resp.status == "200") {
                    alert("Fire Impairment Clearance Permit is saved and approved.");
                } else if (resp.status == "404") {
                    alert("Something is wrong when saving the data. Please try again.");
                }
                $('#loading_gif').hide();
                $(this).removeAttr('disabled');
                $('#save-as-draft').removeAttr('disabled');
                $('#back').removeAttr('disabled');
                $('#content').load('@Url.Action("Edit","FI")');
            });
        });

        $('#save-as-draft').click(function () {
            var values = {
                id: '@Model.id',
                purpose: $('#purpose').val(),
                area_affected: $('#area_affected').val(),
                fire_watch: $('#fire_watch').val(),
            }
            values.who = $(this).data('who');
            values.screening_remark = $('#screening_remark').val();
            values.screening_fo = $('#screening_fo_1').val() + "#" + $('#screening_fo_2').val() + "#" +
                        $('#screening_fo_3').val() + "#" + $('#screening_fo_4').val() + "#" +
                        $('#screening_fo_5').val() + "#" + $('#screening_fo_6').val();
            values.screening_so = $('#screening_so_1').val() + "#" + $('#screening_so_2').val() + "#" +
                        $('#screening_so_3').val() + "#" + $('#screening_so_4').val() + "#" +
                        $('#screening_so_5').val() + "#" + $('#screening_so_6').val();
            values.screening_spv = $('#screening_spv_1').val() + "#" + $('#screening_spv_2').val() + "#" +
                        $('#screening_spv_3').val() + "#" + $('#screening_spv_4').val() + "#" +
                        $('#screening_spv_5').val() + "#" + $('#screening_spv_6').val();

            $('#loading_gif').show();
            $(this).attr('disabled', 'disabled');
            $('#save-complete').attr('disabled', 'disabled');
            $('#back').attr('disabled', 'disabled');
            
            $.post('@Url.Action("SaveAsDraft","fi")', values, function (resp) {
                if (resp.status == "200") {
                    alert("Fire Impairment Clearance Permit saved.");
                } else if (resp.status == "404") {
                    alert("Something is wrong when saving the data. Please try again.");
                }
                $('#loading_gif').hide();
                $(this).removeAttr('disabled');
                $('#save-complete').removeAttr('disabled');
                $('#back').removeAttr('disabled');
                $('#content').load('@Url.Action("Edit","FI")');
            });
        });

        $('#save-assign').click(function () {
            var values = {
                id: '@Model.id',
                acc_so: $('#acc_so').val(),
                acc_dept_head : $('#acc_dept_head').val()
            };
            $('#loading_gif').show();
            $(this).attr('disabled', 'disabled');
            $('#back').attr('disabled', 'disabled');
            $.post('@Url.Action("SaveAssignSO","fi")', values, function (resp) {
                if (resp.status == "200") {
                    alert("Fire Impairment Clearance Permit Safety Officer and/or Dept. Head FO saved.");
                } else if (resp.status == "404") {
                    alert("Something is wrong when saving the data. Please try again.");
                }
                $('#loading_gif').hide();
                $(this).removeAttr('disabled');
                $('#back').removeAttr('disabled');
                $('#content').load('@Url.Action("Edit","FI")');
            });
        });

        $('#reject').click(function () {
            $('#type_reject').val(1);
            $('#who').val($(this).data('who'));
            $('#rejection').modal('show');
        });

        $('#save-as-draft-cancel').click(function () {
            var values = {
                id: '@Model.id',
            }
            values.who = $(this).data('who');
            values.cancel_remark = $('#cancel_remark').val();
            values.cancel_fo = $('#can_screening_fo_1').val() + "#" + $('#can_screening_fo_2').val() + "#" +
                        $('#can_screening_fo_3').val();
            values.cancel_so = $('#can_screening_so_1').val() + "#" + $('#can_screening_so_2').val() + "#" +
                        $('#can_screening_so_3').val();
            values.cancel_spv = $('#can_screening_spv_1').val() + "#" + $('#can_screening_spv_2').val() + "#" +
                        $('#can_screening_spv_3').val();

            $('#loading_gif').show();
            $(this).attr('disabled', 'disabled');
            $('#save-complete').attr('disabled', 'disabled');
            $('#back').attr('disabled', 'disabled');

            $.post('@Url.Action("SaveAsDraftCancel","fi")', values, function (resp) {
                if (resp.status == "200") {
                    alert("Fire Impairment Clearance Permit Cancellation saved.");
                } else if (resp.status == "404") {
                    alert("Something is wrong when saving the data. Please try again.");
                }
                $('#loading_gif').hide();
                $(this).removeAttr('disabled');
                $('#save-complete').removeAttr('disabled');
                $('#back').removeAttr('disabled');
                $('#content').load('@Url.Action("Edit","FI")');
            });
        });

        $('#save-complete-cancel').click(function () {
            var values = {
                id: '@Model.id',
            }
            values.who = $(this).data('who');
            values.cancel_remark = $('#cancel_remark').val();
            values.cancel_fo = $('#can_screening_fo_1').val() + "#" + $('#can_screening_fo_2').val() + "#" +
                        $('#can_screening_fo_3').val();
            values.cancel_so = $('#can_screening_so_1').val() + "#" + $('#can_screening_so_2').val() + "#" +
                        $('#can_screening_so_3').val();
            values.cancel_spv = $('#can_screening_spv_1').val() + "#" + $('#can_screening_spv_2').val() + "#" +
                        $('#can_screening_spv_3').val();
            $('#loading_gif').show();
            $(this).attr('disabled', 'disabled');
            $('#save-as-draft').attr('disabled', 'disabled');
            $('#back').attr('disabled', 'disabled');

            $.post('@Url.Action("SaveCompleteCancel","fi")', values, function (resp) {
                if (resp.status == "200") {
                    alert("Fire Impairment Clearance Permit Cancellation is saved and approved.");
                } else if (resp.status == "404") {
                    alert("Something is wrong when saving the data. Please try again.");
                }
                $('#loading_gif').hide();
                $(this).removeAttr('disabled');
                $('#save-as-draft').removeAttr('disabled');
                $('#back').removeAttr('disabled');
                $('#content').load('@Url.Action("Edit","FI")');
            });
        });

        $('#reject-cancel').click(function () {
            $('#type_reject').val(2);
            $('#who').val($(this).data('who'));
            $('#rejection').modal('show');
        });

        $('.approve').click(function () {
            var type = $(this).attr('data-type');
            var values = {
                id: '@Model.id',
                type: type,
                purpose: $('#purpose').val(),
                area_affected: $('#area_affected').val(),
            }
            $('#loading_gif').show();
            $(this).attr('disabled', 'disabled');
            $('.reject').attr('disabled', 'disabled');
            $('#back').attr('disabled', 'disabled');
            $.post('@Url.Action("ApproveFIPermit","fi")', values, function (resp) {
                if (resp.status == "200") {
                    alert(resp.message);
                } else if (resp.status == "404") {
                    alert("Something is wrong when saving the data. Please try again.");
                } else if (resp.status == "401") {
                    alert("You're not user that should approve this Clearance Permit.");
                }
                $('#loading_gif').hide();
                $(this).removeAttr('disabled');
                $('.reject').removeAttr('disabled');
                $('#back').removeAttr('disabled');
                $('#content').load('@Url.Action("Edit","FI")');
            });
        });

        $('.reject').click(function () {
            $('#type_reject').val($(this).attr('data-type'));
            $('#rejection').modal('show');
        });

        $('#reject_button').click(function () {
            var values = {
                id: '@Model.id',
                type: $('#type_reject').val(),
                comment: $('#comment').val(),
                who : $('#who').val()
            };
            $('#reject_button').attr('disabled', 'disabled');
            $('#loading_reject').show();
            if (values.type == "1") {
                values.screening_remark = $('#screening_remark').val();
                values.screening_fo = $('#screening_fo_1').val() + "#" + $('#screening_fo_2').val() + "#" +
                            $('#screening_fo_3').val() + "#" + $('#screening_fo_4').val() + "#" +
                            $('#screening_fo_5').val() + "#" + $('#screening_fo_6').val();
                values.screening_so = $('#screening_so_1').val() + "#" + $('#screening_so_2').val() + "#" +
                            $('#screening_so_3').val() + "#" + $('#screening_so_4').val() + "#" +
                            $('#screening_so_5').val() + "#" + $('#screening_so_6').val();
                values.screening_spv = $('#screening_spv_1').val() + "#" + $('#screening_spv_2').val() + "#" +
                            $('#screening_spv_3').val() + "#" + $('#screening_spv_4').val() + "#" +
                            $('#screening_spv_5').val() + "#" + $('#screening_spv_6').val();
                $.post('@Url.Action("RejectFIPermit","fi")', values, function (resp) {
                    if (resp.status == "200") {
                        alert("Fire Impairment Clearance Permit is rejected.");
                    } else if (resp.status == "404") {
                        alert("Something is wrong when saving the data. Please try again.");
                    } else if (resp.status == "401") {
                        alert("You're not user that should reject this Clearance Permit.");
                    }
                    $('#rejection').modal('hide');
                    $('#reject_button').removeAttr('disabled');
                    $('#loading_reject').hide();
                    $('#content').load('@Url.Action("Edit","FI")');
                });
            } else if (values.type == "2") {
                values.cancel_remark = $('#cancel_remark').val();
                values.cancel_fo = $('#can_screening_fo_1').val() + "#" + $('#can_screening_fo_2').val() + "#" +
                            $('#can_screening_fo_3').val();
                values.cancel_so = $('#can_screening_so_1').val() + "#" + $('#can_screening_so_2').val() + "#" +
                            $('#can_screening_so_3').val();
                values.cancel_spv = $('#can_screening_spv_1').val() + "#" + $('#can_screening_spv_2').val() + "#" +
                            $('#can_screening_spv_3').val();
                $.post('@Url.Action("RejectFIPermitCancel","fi")', values, function (resp) {
                    if (resp.status == "200") {
                        alert("Fire Impairment Clearance Permit Cancellation is rejected.");
                    } else if (resp.status == "404") {
                        alert("Something is wrong when saving the data. Please try again.");
                    } else if (resp.status == "401") {
                        alert("You're not user that should reject this Clearance Permit.");
                    }
                    $('#rejection').modal('hide');
                    $('#reject_button').removeAttr('disabled');
                    $('#loading_reject').hide();
                    $('#content').load('@Url.Action("Edit","FI")');
                });
            }
        });

        $('#cancel').click(function () {
            var r = confirm('Are you sure want to cancel this Fire Impairment Permit?');
            if (r == true) {
                values = {
                    id: '@Model.id',
                }
                $('#loading_gif').show();
                $(this).attr('disabled', 'disabled');
                $('#back').attr('disabled', 'disabled');
                $.post('@Url.Action("CancelFIPermit","fi")', values, function (resp) {
                    if (resp.status == "200") {
                        alert(resp.message);
                    } else if (resp.status == "404") {
                        alert("Something is wrong when saving the data. Please try again.");
                    } else if (resp.status == "401") {
                        alert("You're not user that should reject this Clearance Permit.");
                    }
                    $('#loading_gif').hide();
                    $(this).removeAttr('disabled');
                    $('#back').removeAttr('disabled');
                    $('#content').load('@Url.Action("Edit","FI")');
                });
            }
        });

        $('.cancel-approve').click(function () {
            var type = $(this).attr('data-type');
            var values = {
                id: '@Model.id',
                type: type
            }
            $('#loading_gif').show();
            $(this).attr('disabled', 'disabled');
            $('#back').attr('disabled', 'disabled');
            $.post('@Url.Action("ApproveFIPermitCancel","fi")', values, function (resp) {
                if (resp.status == "200") {
                    alert(resp.message);
                } else if (resp.status == "404") {
                    alert("Something is wrong when saving the data. Please try again.");
                } else if (resp.status == "401") {
                    alert("You're not user that should approve this Clearance Permit.");
                }
                $('#loading_gif').hide();
                $(this).removeAttr('disabled');
                $('#back').removeAttr('disabled');
                $('#content').load('@Url.Action("Edit","FI")');
            });
        });

        $('#back').click(function () {
            var history = $('#history').val();
            history = history.toLowerCase();
            if (history.indexOf('home') >= 0) {
                window.location = history;
            } else {
                $('#content').load(history);
            }
        });
    })
</script>

<div id="content-header">
	<h1>Fire Impairment</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom home"><i class="icon-home"></i> Home</a>
	<a href="#"  class="tip-bottom ptw">Fire Impairment </a>
    <a href="#" class="current">Create</a>
</div>

<div class="container-fluid header-form">
    <div class="row-fluid">
        <div class="span3 logo">
            <img src="../../Img/logo-clean.png" />
        </div>
        <div class="span6 title">
            <b>FIRE SYSTEM IMPAIRMENT PERMIT</b><br />
            Star Energy Geothermal (Wayang Windu) Limited
        </div>

        <div class="span3 no">
            <br /><i>No : @Model.fi_no</i>
        </div>
    </div>
    <div class="row-fluid separator">
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="title-form" colspan="4"><b>1.  GENERAL INFORMATION </b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-centre"><strong>NO</strong></td>
                <td class="td-centre"><strong>DESCRIPTION</strong></td>
                <td class="td-centre" colspan="2"><strong>REMARK</strong></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Purposed</td>
                <td colspan="2"><input type="text" id="purpose" class="table-input" value="@Model.purpose" @(isCanEdit[0] ? "" : "disabled")/></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Area Affected</td>
                <td colspan="2"><input type="text" id="area_affected" class="table-input" value="@Model.area_affected" @(isCanEdit[0] ? "" : "disabled")/></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Requestor</td>
                <td><input type="text" class="table-input" value="@(Model.is_guest ? Model.requestor : listUser.listUser.Where(p => p.id == Model.requestor.AsInt()).FirstOrDefault().alpha_name)" disabled/></td>
                <td>
                    Fire Watch : 
                    <select id="fire_watch" @(isCanEdit[0] ? "" : "disabled")>
                        <option>Select One</option>
                        @foreach (PermitToWork.Models.User.UserEntity user in listUser.listUser)
                        {
                            <option value="@user.id" @(Model.fire_watch == user.id.ToString() ? "selected" : "")>@user.alpha_name</option>
                        }
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="title-form" colspan="4"><b>2. PRE-JOB SCREENING <small><i>(Fill with yes: if agree; No: if disagree or N/A: if not applicable with description statement)</i></small></b></th>
                <th>Hira no : @Model.hira_no</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NO</td>
                <td>DESCRIPTION</td>
                <td>Spv</td>
                <td>SO</td>
                <td>FO</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Are workers to do this job competent?</td>
                <td>
                    <select id="screening_spv_1" @(isCanEdit[3] ? "" : "disabled")>
                        <option value="1" @(Model.screening_spv_arr[0] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_spv_arr[0] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_spv_arr[0] == "0" || Model.screening_spv_arr[0] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_so_1" @(isCanEdit[4] ? "" : "disabled")>
                        <option value="1" @(Model.screening_so_arr[0] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_so_arr[0] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_so_arr[0] == "0" || Model.screening_so_arr[0] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_fo_1" @(isCanEdit[5] ? "" : "disabled")>
                        <option value="1" @(Model.screening_fo_arr[0] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_fo_arr[0] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_fo_arr[0] == "0" || Model.screening_fo_arr[0] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Available communication with ERT?</td>
                <td>
                    <select id="screening_spv_2" @(isCanEdit[3] ? "" : "disabled")>
                        <option value="1" @(Model.screening_spv_arr[1] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_spv_arr[1] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_spv_arr[1] == "0" || Model.screening_spv_arr[1] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_so_2" @(isCanEdit[4] ? "" : "disabled")>
                        <option value="1" @(Model.screening_so_arr[1] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_so_arr[1] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_so_arr[1] == "0" || Model.screening_so_arr[1] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_fo_2" @(isCanEdit[5] ? "" : "disabled")>
                        <option value="1" @(Model.screening_fo_arr[1] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_fo_arr[1] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_fo_arr[1] == "0" || Model.screening_fo_arr[1] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Competent fire watch available?</td>
                <td>
                    <select id="screening_spv_3" @(isCanEdit[3] ? "" : "disabled")>
                        <option value="1" @(Model.screening_spv_arr[2] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_spv_arr[2] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_spv_arr[2] == "0" || Model.screening_spv_arr[2] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_so_3" @(isCanEdit[4] ? "" : "disabled")>
                        <option value="1" @(Model.screening_so_arr[2] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_so_arr[2] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_so_arr[2] == "0" || Model.screening_so_arr[2] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_fo_3" @(isCanEdit[5] ? "" : "disabled")>
                        <option value="1" @(Model.screening_fo_arr[2] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_fo_arr[2] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_fo_arr[2] == "0" || Model.screening_fo_arr[2] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Affected parties have been notified?</td>
                <td>
                    <select id="screening_spv_4" @(isCanEdit[3] ? "" : "disabled")>
                        <option value="1" @(Model.screening_spv_arr[3] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_spv_arr[3] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_spv_arr[3] == "0" || Model.screening_spv_arr[3] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_so_4" @(isCanEdit[4] ? "" : "disabled")>
                        <option value="1" @(Model.screening_so_arr[3] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_so_arr[3] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_so_arr[3] == "0" || Model.screening_so_arr[3] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_fo_4" @(isCanEdit[5] ? "" : "disabled")>
                        <option value="1" @(Model.screening_fo_arr[3] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_fo_arr[3] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_fo_arr[3] == "0" || Model.screening_fo_arr[3] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Adequate fire system back up during impairment?</td>
                <td>
                    <select id="screening_spv_5" @(isCanEdit[3] ? "" : "disabled")>
                        <option value="1" @(Model.screening_spv_arr[4] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_spv_arr[4] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_spv_arr[4] == "0" || Model.screening_spv_arr[4] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_so_5" @(isCanEdit[4] ? "" : "disabled")>
                        <option value="1" @(Model.screening_so_arr[4] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_so_arr[4] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_so_arr[4] == "0" || Model.screening_so_arr[4] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_fo_5" @(isCanEdit[5] ? "" : "disabled")>
                        <option value="1" @(Model.screening_fo_arr[4] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_fo_arr[4] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_fo_arr[4] == "0" || Model.screening_fo_arr[4] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>The impairment work can be done safely?</td>
                <td>
                    <select id="screening_spv_6" @(isCanEdit[3] ? "" : "disabled")>
                        <option value="1" @(Model.screening_spv_arr[5] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_spv_arr[5] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_spv_arr[5] == "0" || Model.screening_spv_arr[5] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_so_6" @(isCanEdit[4] ? "" : "disabled")>
                        <option value="1" @(Model.screening_so_arr[5] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_so_arr[5] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_so_arr[5] == "0" || Model.screening_so_arr[5] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="screening_fo_6" @(isCanEdit[5] ? "" : "disabled")>
                        <option value="1" @(Model.screening_fo_arr[5] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.screening_fo_arr[5] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.screening_fo_arr[5] == "0" || Model.screening_fo_arr[5] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <h6>Note :</h6>
                    <ul>
                        <li>
                            Fill with yes: if agree; No: if disagree or N/A: in not applicable with description statement
                        </li>
                        <li>
                            Write any consent related work execution below, attach other sheet if necessaries
                        </li>
                        <li>
                            Start with 'Spv:' for Supervisor, start with 'SO:' for SO, and start with 'FO:' for FO
                        </li>
                    </ul>
                    <span id="screening_remark_required" style="display:none;color:red"></span>
                    <textarea class="table-textarea" id="screening_remark" @(isCanEdit[3] || isCanEdit[4] || isCanEdit[5] ? "" : "disabled")>@(isCanEdit[3] ? Model.screening_remark + "\nSpv: " : (isCanEdit[4] ? Model.screening_remark + "\nSO: " : (isCanEdit[5] ? Model.screening_remark + "\nFO: " : Model.screening_remark)))</textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td colspan="6" class="td-centre no-border"><strong><u>PERMIT APPROVAL</u></strong></td>
            </tr>
            <tr>
                <td colspan="2" class="td-centre no-border"><strong>REQUESTOR</strong></td>
                <td colspan="2" class="td-centre no-border"><strong>VERIFIED BY</strong></td>
                <td class="td-centre no-border"><strong>APPROVED BY</strong></td>
            </tr>
            <tr>
                <td class="td-centre no-border">
                    @if (Model.acc_work_leader_signature != null)
                    {
                        <img id="img_approve_work_leader" width="50" height="50" @(Model.acc_work_leader_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.acc_work_leader_signature == null ? "" : Model.acc_work_leader_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_fire_watch_signature != null)
                    {
                        <img id="img_approve_fire_watch" width="50" height="50" @(Model.acc_fire_watch_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.acc_fire_watch_signature == null ? "" : Model.acc_fire_watch_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (isCanEdit[1] && Model.acc_so == null)
                    {
                        <text>@Html.DropDownList("acc_so", ViewBag.listSO as List<SelectListItem>, new { @class = "table-input-170" } as object)</text>
                    } else if (Model.acc_so_signature != null)
                    {
                    <img id="img_approve_so" width="50" height="50" @(Model.acc_so_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.acc_so_signature == null ? "" : Model.acc_so_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_fo_signature != null)
                    {
                    <img id="img_approve_fo" width="50" height="50" @(Model.acc_fo_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.acc_fo_signature == null ? "" : Model.acc_fo_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (isCanEdit[1] && Model.acc_dept_head == null)
                    {
                        <text>@Html.DropDownList("acc_dept_head", ViewBag.listDeptHead as List<SelectListItem>, new { @class = "table-input-170" } as object)</text>
                    }
                    else if (Model.acc_dept_head_signature != null)
                    {
                    <img id="img_approve_dept_head" width="50" height="50" @(Model.acc_dept_head_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.acc_dept_head_signature == null ? "" : Model.acc_dept_head_signature.Substring(1))"/><br />
                    }
                </td>
            </tr>
            <tr>
                <td class="td-centre no-border">
                    @if (Model.is_guest) {
                    if (Model.requestor != null)
                    {
                        <span>@Model.requestor</span><br />
                    }
                    } else {
                        if (Model.requestor != null)
                    {
                        if (Model.acc_work_leader_signature == null && isCanEdit[0] && Model.requestor != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.acc_work_leader_signature != null && Model.acc_work_leader_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.acc_work_leader_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.acc_work_leader_signature == null && isCanEdit[0] && Model.requestor != requestor.id.ToString()) || (Model.acc_work_leader_signature != null && Model.acc_work_leader_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.requestor.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    }
                    <u>Workers Leader</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.fire_watch != null)
                    {
                        if (Model.acc_fire_watch_signature == null && isCanEdit[2] && Model.fire_watch != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.acc_fire_watch_signature != null && Model.acc_fire_watch_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.acc_fire_wacth_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.acc_fire_watch_signature == null && isCanEdit[2] && Model.fire_watch != requestor.id.ToString()) || (Model.acc_fire_watch_signature != null && Model.acc_fire_watch_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.fire_watch.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>Fire Watch</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_so != null)
                    {
                        if (Model.acc_so_signature == null && isCanEdit[4] && Model.acc_so != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.acc_so_signature != null && Model.acc_so_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.acc_so_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.acc_so_signature == null && isCanEdit[4] && Model.acc_so != requestor.id.ToString()) || (Model.acc_so_signature != null && Model.acc_so_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.acc_so.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>ERT / Safety Officer</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_fo != null)
                    {
                        if (Model.acc_fo_signature == null && Model.isFO(requestor) && requestor.id.ToString() != Model.acc_fo)
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.acc_fo_signature != null && Model.acc_fo_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.acc_fo_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.acc_fo_signature == null && Model.isFO(requestor) && requestor.id.ToString() != Model.acc_fo) || (Model.acc_fo_signature != null && Model.acc_fo_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.acc_fo.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>Facility Owner</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_dept_head != null)
                    {
                        if (Model.acc_dept_head_signature == null && isCanEdit[6] && Model.acc_dept_head != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.acc_dept_head_signature != null && Model.acc_dept_head_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.acc_dept_head_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.acc_dept_head_signature == null && isCanEdit[6] && Model.acc_dept_head != requestor.id.ToString()) || (Model.acc_dept_head_signature != null && Model.acc_dept_head_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.acc_dept_head.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>Dept. Head FO</u>
                </td>
            </tr>
        </tbody>
    </table>
    <h6>Note :</h6>
    <ul>
        <li>
            All parties agreed working condition have been secured from any possible hazard.
        </li>
        <li>
            Fire watch shall conduct patrol during fire system impairement until at least 30 minutes after completion the impairement.
        </li>
    </ul>
@if (Model.status >= (int)PermitToWork.Models.FIEntity.FIStatus.CLOSING)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="title-form" colspan="5"><b>2. CANCELATION ASSESSMENT</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NO</td>
                <td>DESCRIPTION</td>
                <td>SPV</td>
                <td>SO</td>
                <td>FO</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Completed impairment work?</td>
                <td>
                    <select id="can_screening_spv_1" @(isCanEdit[10] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_spv_arr[0] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_spv_arr[0] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_spv_arr[0] == "0" || Model.can_screening_spv_arr[0] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="can_screening_so_1" @(isCanEdit[11] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_so_arr[0] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_so_arr[0] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_so_arr[0] == "0" || Model.can_screening_so_arr[0] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="can_screening_fo_1" @(isCanEdit[12] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_fo_arr[0] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_fo_arr[0] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_fo_arr[0] == "0" || Model.can_screening_fo_arr[0] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Affected area notified that impairment has been completed?</td>
                <td>
                    <select id="can_screening_spv_2" @(isCanEdit[10] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_spv_arr[1] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_spv_arr[1] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_spv_arr[1] == "0" || Model.can_screening_spv_arr[1] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="can_screening_so_2" @(isCanEdit[11] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_so_arr[1] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_so_arr[1] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_so_arr[1] == "0" || Model.can_screening_so_arr[1] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="can_screening_fo_2" @(isCanEdit[12] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_fo_arr[1] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_fo_arr[1] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_fo_arr[1] == "0" || Model.can_screening_fo_arr[1] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Fire system ready to normalize?</td>
                <td>
                    <select id="can_screening_spv_3" @(isCanEdit[10] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_spv_arr[2] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_spv_arr[2] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_spv_arr[2] == "0" || Model.can_screening_spv_arr[2] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="can_screening_so_3" @(isCanEdit[11] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_so_arr[2] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_so_arr[2] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_so_arr[2] == "0" || Model.can_screening_so_arr[2] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
                <td>
                    <select id="can_screening_fo_3" @(isCanEdit[12] ? "" : "disabled")>
                        <option value="1" @(Model.can_screening_fo_arr[2] == "1" ? "selected" : "")>Yes</option>
                        <option value="2" @(Model.can_screening_fo_arr[2] == "2" ? "selected" : "")>No</option>
                        <option value="0" @(Model.can_screening_fo_arr[2] == "0" || Model.can_screening_fo_arr[2] == "" ? "selected" : "")>N/A</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <h6>Remark : <small><i>(write any consent related fire impairment, start with 'Spv:' for Supervisor, start with 'SO:' for SO, and start with 'FO:' for FO)</i></small></h6>
    <textarea class="table-textarea" id="cancel_remark" @(isCanEdit[10] || isCanEdit[11] || isCanEdit[12] ? "" : "disabled")>@(isCanEdit[10] ? Model.cancel_remark + "\nSpv: " : (isCanEdit[11] ? Model.cancel_remark + "\nSO: " : (isCanEdit[12] ? Model.cancel_remark + "\nFO: " : Model.cancel_remark)))</textarea>
    <br /><br />

    <table class="table">
        <tbody>
            <tr>
                <td colspan="6" class="td-centre no-border"><strong><u>CLOSED</u></strong></td>
            </tr>
            <tr>
                <td colspan="2" class="td-centre no-border"><strong>WORKERS</strong></td>
                <td colspan="2" class="td-centre no-border"><strong>CHECKED BY</strong></td>
                <td class="td-centre no-border"><strong>RECEIVED BY</strong></td>
            </tr>
            <tr>
                <td class="td-centre no-border">
                    @if (Model.cancel_work_leader_signature != null)
                    {
                        <img id="img_cancel_work_leader" width="50" height="50" @(Model.cancel_work_leader_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.cancel_work_leader_signature == null ? "" : Model.cancel_work_leader_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (Model.cancel_fire_watch_signature != null)
                    {
                        <img id="img_cancel_fire_watch" width="50" height="50" @(Model.cancel_fire_watch_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.cancel_fire_watch_signature == null ? "" : Model.cancel_fire_watch_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (Model.cancel_so_signature != null)
                    {
                        <img id="img_cancel_so" width="50" height="50" @(Model.cancel_so_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.cancel_so_signature == null ? "" : Model.cancel_so_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (Model.cancel_fo_signature != null)
                    {
                        <img id="img_cancel_fo" width="50" height="50" @(Model.cancel_fo_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.cancel_fo_signature == null ? "" : Model.cancel_fo_signature.Substring(1))"/><br />
                    }
                </td>
                <td class="td-centre no-border">
                    @if (Model.cancel_dept_head_signature != null)
                    {
                        <img id="img_cancel_dept_head" width="50" height="50" @(Model.cancel_dept_head_signature == null ? "style=display:none;" : "style=display:inline-block;")  src="@(Model.cancel_dept_head_signature == null ? "" : Model.cancel_dept_head_signature.Substring(1))"/><br />
                    }
                </td>
            </tr>
            <tr>
                <td class="td-centre no-border">
                    @if (Model.requestor != null)
                    {
                        if (Model.cancel_work_leader_signature == null && isCanEdit[8] == true && Model.requestor != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.cancel_work_leader_signature != null && Model.cancel_work_leader_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.cancel_work_leader_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.cancel_work_leader_signature == null && isCanEdit[8] == true && Model.requestor != requestor.id.ToString()) || (Model.cancel_work_leader_signature != null && Model.cancel_work_leader_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.requestor.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>Workers Leader</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.fire_watch != null)
                    {
                        if (Model.cancel_fire_watch_signature == null && isCanEdit[9] == true && Model.fire_watch != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.cancel_fire_watch_signature != null && Model.cancel_fire_watch_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.cancel_fire_watch_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.cancel_fire_watch_signature == null && isCanEdit[9] == true && Model.fire_watch != requestor.id.ToString()) || (Model.cancel_fire_watch_signature != null && Model.cancel_fire_watch_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.fire_watch.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>Fire Watch</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_so != null)
                    {
                        if (Model.cancel_so_signature == null && isCanEdit[11] == true && Model.acc_so != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.cancel_so_signature != null && Model.cancel_so_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.cancel_so_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.cancel_so_signature == null && isCanEdit[11] == true && Model.acc_so != requestor.id.ToString()) || (Model.cancel_so_signature != null && Model.cancel_so_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.acc_so.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>ERT / Safety Officer</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_fo != null)
                    {
                        if (Model.cancel_fo_signature == null && Model.isFO(requestor) && requestor.id.ToString() != Model.acc_fo)
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.cancel_fo_signature != null && Model.cancel_fo_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.cancel_fo_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.cancel_fo_signature == null && Model.isFO(requestor) && requestor.id.ToString() != Model.acc_fo) || (Model.cancel_fo_signature != null && Model.cancel_fo_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.acc_fo.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>Facility Owner</u>
                </td>
                <td class="td-centre no-border">
                    @if (Model.acc_dept_head != null)
                    {
                        if (Model.cancel_dept_head_signature == null && isCanEdit[13] == true && Model.acc_dept_head != requestor.id.ToString())
                        {
                    <span>@listUser.listUser.Where(p => p.id == requestor.id).FirstOrDefault().alpha_name</span><br />
                        }
                        else if (Model.cancel_dept_head_signature != null && Model.cancel_dept_head_signature.Substring(0, 1) == "d")
                        {
                    <span>@listUser.listUser.Where(p => p.id == Model.cancel_dept_head_delegate.AsInt()).FirstOrDefault().alpha_name</span><br />
                        }
                    <span>@((Model.cancel_dept_head_signature == null && isCanEdit[13] == true && Model.acc_dept_head != requestor.id.ToString()) || (Model.cancel_dept_head_signature != null && Model.cancel_dept_head_signature.Substring(0, 1) == "d") ? "a/n" : "") @(listUser.listUser.Where(p => p.id == Model.acc_dept_head.AsInt()).FirstOrDefault().alpha_name)</span><br />
                    }
                    <u>Dept. Head FO</u>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <h6>Note :</h6>
    <ul>
        <li>
            Fire watch examined the location of the workplace has been safe from the possibility of fire hazard, worker leader has verifying work locations safe ready to hand over to facility owner.
        </li>
    </ul>
}
    <div class="row-fluid">
        <div class="span12">
            @if (isCanEdit[0] || isCanEdit[2] || isCanEdit[3] || isCanEdit[4] || isCanEdit[5] || isCanEdit[6])
            {
            <input type="button" id="save-complete" class="btn btn-success" value="Save and Complete" data-who="@(isCanEdit[0] ? 1 : (isCanEdit[2] ? 2 : (isCanEdit[3] ? 3 : (isCanEdit[4] ? 4 : (isCanEdit[5] ? 5 : (isCanEdit[6] ? 6 : 0))))))"/>
                if (isCanEdit[0] || isCanEdit[3] || isCanEdit[4] || isCanEdit[5])
                {
            <input type="button" id="save-as-draft" class="btn btn-default" value="Save as Draft" data-who="@(isCanEdit[0] ? 1 : (isCanEdit[3] ? 3 : (isCanEdit[4] ? 4 : (isCanEdit[5] ? 5 : 0))))"/>
            }
            if (isCanEdit[2] || isCanEdit[3] || isCanEdit[4] || isCanEdit[5] || isCanEdit[6])
            {
            <input type="button" id="reject" class="btn btn-danger" value="Reject" data-who="@(isCanEdit[0] ? 1 : (isCanEdit[2] ? 2 : (isCanEdit[3] ? 3 : (isCanEdit[4] ? 4 : (isCanEdit[5] ? 5 : (isCanEdit[6] ? 6 : 0))))))" />
            }
            }

            @if (isCanEdit[1])
            {
            <input type="button" id="save-assign" class="btn btn-success" value="Save"/>
            }

            @if (isCanEdit[7] && Model.status == (int)PermitToWork.Models.FIEntity.FIStatus.DEPTFOAPPROVE && (ViewBag.ptwStatus as int?).Value >= (int)PermitToWork.Models.Ptw.PtwEntity.statusPtw.ACCFO)
            {
            <input type="button" id="cancel" class="btn btn-warning" value="Cancel Permit"/>
            }

            @if (isCanEdit[8] || isCanEdit[9] || isCanEdit[10] || isCanEdit[11] || isCanEdit[12] || isCanEdit[13])
            {
            <input type="button" id="save-complete-cancel" class="btn btn-success" value="Save and Complete" data-who="@(isCanEdit[8] ? 1 : (isCanEdit[9] ? 2 : (isCanEdit[10] ? 3 : (isCanEdit[11] ? 4 : (isCanEdit[12] ? 5 : (isCanEdit[13] ? 6 : 0))))))"/>
                if (isCanEdit[10] || isCanEdit[11] || isCanEdit[12])
                {
            <input type="button" id="save-as-draft-cancel" class="btn btn-default" value="Save as Draft" data-who="@(isCanEdit[10] ? 3 : (isCanEdit[11] ? 4 : (isCanEdit[12] ? 5 : 0)))"/>
            }
            if (isCanEdit[9] || isCanEdit[10] || isCanEdit[11] || isCanEdit[12] || isCanEdit[13])
            {
            <input type="button" id="reject-cancel" class="btn btn-danger" value="Reject" data-who="@(isCanEdit[8] ? 1 : (isCanEdit[9] ? 2 : (isCanEdit[10] ? 3 : (isCanEdit[11] ? 4 : (isCanEdit[12] ? 5 : (isCanEdit[13] ? 6 : 0))))))" />
            }
            }
            <input type="button" id="back" class="btn btn-primary" value="Back"/>
            <span id="loading_gif" style="display:none"><img src="/Content/Images/loading.gif" alt="loading" width="24" height="24" /> Sending Email.. Please Wait..</span>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="rejection" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Reject" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Reject</h3>
  </div>
  <div class="modal-body">
    <label for="comment">Comment</label><textarea id="comment"></textarea>
    <input type="hidden" id="type_reject" value="0" />
    <input type="hidden" id="who" value="0" />
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="reject_button">Reject</button>
    <span id="loading_reject" style="display:none"><img src="/Content/Images/loading.gif" alt="loading" width="24" height="24" /> Sending Email.. Please Wait..</span>
  </div>
</div>
