<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>   
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
	<link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-responsive.min.css")" />
	<link rel="stylesheet" href="@Url.Content("~/Content/fullcalendar.css")" />	
	<link rel="stylesheet" href="@Url.Content("~/Content/unicorn.main.css")" />
	<link rel="stylesheet" href="@Url.Content("~/Content/unicorn.grey.css")" class="skin-color" />
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo.common.min.css")" class="skin-color" />
    <link rel="stylesheet" href="@Url.Content("~/Content/kendo.metro.min.css")" class="skin-color" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

   
    <script src="@Url.Content("~/Scripts/excanvas.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.flot.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.flot.resize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.peity.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/unicorn.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")"></script>


</head>

<body>
    <div id="header">
		<h1><a href="Home">Permit To Work</a></h1>		
		</div>
		
		<div id="search">
			<input type="hidden" id="history" value=""/>
		</div>
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse" ><a title="" href="#" class="disabled"><i class="icon icon-user"></i> <span class="text">@((Session["user"] as PermitToWork.Models.User.UserEntity).alpha_name)</span></a></li>
                <li class="btn btn-inverse"><a title="" href="Login/Logout" id="logout"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>
        </div>
            
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
			<ul>
				<li id="home" class="active home"><a href="#"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
				<li id="submenu-ptw" class="submenu open">
					<a href="#"><i class="icon icon-th-list"></i> <span>Permit To Work</span> <span class="label">3</span></a>
					<ul>
                        <li id="ptw" class="ptw"><a href="#">Permit To Work</a></li>
						<li id="safety" class="safety"><a href="#">Safety Briefing</a></li>
						<li id="hira" class="hira"><a href="#">Hira</a></li>
                        <li id="lotto1" class="lotto1"><a href="#">Lotto 1</a></li>
                        <li id="lotto2" class="lotto2"><a href="#">Lotto 2</a></li>
                        <li id="lotto3" class="lotto3"><a href="#">Lotto 3</a></li>
                        <li id="ex" class="ex"><a href="#">Excavation</a></li>
                        <li id="design" class="design"><a href="#">Scaffolding Design</a></li>
                        <li id="inspection" class="inspection"><a href="#">Scaffold Inspection Sheet</a></li>
					</ul>
				</li>
			</ul>	
		</div>
        <div id="content">
            @RenderBody()
        </div>
</body>
</html>
