@model PermitToWork.Models.Ptw.PtwEntity
@{
    bool? isCanCancel = ViewBag.isCanCancel as bool?;
    bool? isCanAddLoto = ViewBag.isCanAddLoto as bool?;
    bool? isAddNewLoto = ViewBag.isAddNewLoto as bool?;
}

<script src="@Url.Content("~/Scripts/lib/jquery.workflow-diagram.js")"></script>

<script id="workflow-loto-template" type="text/x-kendo-template">
     @{ Html.RenderPartial("~/Views/Workflow/LOTO.cshtml"); }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        // addHandlerMenu();

        $('.loto-form').click(function () {
            $('#prev-history').val($('#history').val());
            $('#history').val('@Url.Action("Index","Loto", new { id = Model.id })');
            changeContent('@Url.Action("Edit","Loto")' + '/' + $(this).data('id') + '?id_loto=' + '@Model.id');
        });

        $('.glarf-form').click(function () {
            $('#prev-history').val($('#history').val());
            $('#history').val('@Url.Action("Index","Loto", new { id = Model.id })');
            changeContent('@Url.Action("Glarf","Loto")' + '/' + $(this).data('id'));
        });

        $('.loto-log').click(function () {
            $('#prev-history').val($('#history').val());
            $('#history').val('@Url.Action("Index","Loto", new { id = Model.id })');
            changeContent('@Url.Action("Index","Log")' + '/Index/?id=' + $(this).data('id') + '&permitType=' + 1 + '&backPath=' + '@Url.Action("Index","Loto", new { id = Model.id })');
        });

        $('#cancel-loto').click(function () {
            $('#prev-history').val($('#history').val());
            $('#history').val('@Url.Action("Index","Loto", new { id = Model.id })');

            $.post('@Url.Action("CancelLoto","Loto")', { id: $(this).data('id') }, function (resp) {
                if (resp.status == "202") {
                    alert('Loto cancellation has been requested. You may sign LOTO Cancellation.');
                    $('#content').load('@Url.Action("Edit","Loto")/' + $(this).data('id') + '?id_loto=' + '@Model.id');
                } else if (resp.status == "200") {
                    alert('Loto cancellation has been requested. You must attach \'signed LOTO Glarf\' prior to cancellation, then sign LOTO Cancellation.');
                    $('#content').load('@Url.Action("Glarf","Loto")/' + resp.id_glarf);
                }
            });
        });

        $('#new-loto').click(function () {
            var values = {
                id_ptw: '@Model.id',
            };
            $(this).attr('disabled', 'disabled');
            $('#create-loading').show();
            $.post("@Url.Action("CreateNewLOTO","Loto")", values, function (resp) {
                if (resp.status == "200") {
                    $('#history').val('@Url.Action("Index","Loto", new { id = Model.id })');
                    changeContent('@Url.Action("Edit","Loto")' + '/?id=' + resp.id + '&id_loto=' + '@Model.id');
                    $('#new-loto').removeAttr('disabled');
                    $('#create-loading').hide();
                }
            });
        });

        $('#previous-loto').click(function () {
            $('#loto-prev').modal('show');
        });

        $('#create-loto').click(function () {
            var values = {
                id: '@Model.id',
                id_prev_loto: $('#selected-id').val(),
            };
            $.post("@Url.Action("FromPreviousLOTO","Loto")", values, function (resp) {
                if (resp.status == "200") {
                    $('#history').val('@Url.Action("Index","Loto", new { id = Model.id })');
                    $('#loto-prev').modal('hide');
                    changeContent('@Url.Action("Edit","Loto")' + '/?id=' + resp.id + '&id_loto=' + '@Model.id');
                }
            });
        });

        var dataSourceIn = new kendo.data.DataSource({
            transport: {
                read: {
                    url: '@Url.Action("BindingListLOTO", "Loto")',
                    type: "POST"
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        var result = {};

                        return result;
                    }
                }
            },
            batch: true,
            pageSize: 30,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: { type: "number", editable: false },
                        loto_no: { type: "string" },
                        work_location: { type: "string" },
                        supervisorUser: {},
                        work_description: { type: "string" },
                    }
                }
            },
            pageSize: 10
        });

        $("#loto-prev-grid").kendoGrid({
            dataSource: dataSourceIn,
            pageable: true,
            sortable: true,
            filterable: true,
            selectable: "row",
            columns: [
                { field: "id", hidden: true },
                { field: "loto_no", title: "LOTO No.", type: "string", width: 150 },
                { field: "supervisorUser", title: "Supervisor", template: "#=getName(supervisorUser)#", type: "string" },
                { field: "work_description", title: "Work Description", type: "string" },
            ],
            height: 300,
            change: function (e) {
                var selectedRows = this.select();
                var selectedDataItems = [];
                for (var i = 0; i < selectedRows.length; i++) {
                    var dataItem = this.dataItem(selectedRows[i]);
                    $('#selected-id').val(dataItem.id);
                }
                // selectedDataItems contains all selected data items
            }
        });

        $('#back').click(function () {
            var history = $('#history').val();
            history = history.toLowerCase();
            if (history.indexOf('home') >= 0) {
                window.location = history;
            } else if (history == "") {
                window.location = '@Url.Action("Index","Home")';
            } else {
                $('#content').load(history);
            }
        });
    });

    function getName(user) {
        if (user != null) {
            return user.alpha_name;
        }
        return "";
    }

    //LOTO workflow
    function showWorkflowLOTO(id, num) {
        var workflowObject = $('#workflow-loto');

        if (!workflowObject.length) { //create element if not exist
            workflowObject = $(document.createElement('div')).attr('id', 'workflow-loto').appendTo('body');
            workflowObject.workflowDiagram({
                template: kendo.template($("#workflow-loto-template").html()),
                url: '@Url.Action("LOTO", "Workflow")',
            });
        }

        workflowObject.workflowDiagram('reload', id, num);
        workflowObject.workflowDiagram('show');
    }
</script>

<div id="content-header">
	<h1>Lock Out Tag Out Permit Form</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom home"><i class="icon-home"></i> Home</a>
	<a href="#"  class="tip-bottom ptw">LOTO</a>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 logo">
            <img src="../../Img/logo-clean.png" />
        </div>
        <div class="span6 title">
            <b>LOTO PERMIT FORM</b><br />
            Star Energy Geothermal (Wayang Windu) Limited
        </div>
        <div class="span3 no">
        </div> 
    </div>
    <div class="row-fluid separator"></div>
    <div class="row-fluid">
        <div class="span12">
            @if (isCanAddLoto == true) {
                if(isAddNewLoto == true) {
                <input type="button" class="btn btn-primary" value="Create New LOTO Form" id="new-loto" />
                }
            <input type="button" class="btn btn-warning" value="Follow Previous LOTO Form" id="previous-loto" />
            }
            <span id="create-loading" style="display:none"><img src="@Url.Content("~/Content/Images/loading.gif")" alt="loading" width="24" height="24" /> Create Form.. Please Wait..</span>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
		        <div class="widget-title">
			        <span class="icon">
				        <i class="icon-align-justify"></i>									
			        </span>
			        <h5>Related Document(s)</h5>
		        </div>
		        <div class="widget-content">
                    @foreach(PermitToWork.Models.ClearancePermit.LotoEntity loto in Model.lotoPermit) {
                    <div class="row-fluid">
                        <div class="span3">
                            @loto.loto_no
                        </div>
                        <div class="span9">
                            <input type="button" class="btn btn-success loto-form" value="LOTO Permit Form" id="loto-form-@loto.id" data-id="@loto.id" />
                            @if (loto.no_holder == 2)
                            {
                                <input type="button" class="btn btn-success glarf-form" value="GLARF" id="glarf-form-@loto.id" data-id="@loto.holder_2_glarf" />
                            }
                            else if (loto.no_holder == 3)
                            {
                                <input type="button" class="btn btn-success glarf-form" value="GLARF" id="glarf-form-@loto.id" data-id="@loto.holder_3_glarf" />
                            }
                            else if (loto.no_holder == 4)
                            {
                                <input type="button" class="btn btn-success glarf-form" value="GLARF" id="glarf-form-@loto.id" data-id="@loto.holder_4_glarf" />
                            }
                            else if (loto.no_holder == 5)
                            {
                                <input type="button" class="btn btn-success glarf-form" value="GLARF" id="glarf-form-@loto.id" data-id="@loto.holder_5_glarf" />
                            }
                            else if (loto.no_holder == 6)
                            {
                                <input type="button" class="btn btn-success glarf-form" value="GLARF" id="glarf-form-@loto.id" data-id="@loto.holder_6_glarf" />
                            }
                            else if (loto.no_holder == 7)
                            {
                                <input type="button" class="btn btn-success glarf-form" value="GLARF" id="glarf-form-@loto.id" data-id="@loto.holder_7_glarf" />
                            } 
                            else {
                            <input type="button" class="btn btn-success glarf-form" value="GLARF" id="glarf-form-@loto.id" data-id="@loto.id_glarf" />
                            }
                            @if (isCanCancel == true)
                            {
                                <input type="button" class="btn btn-warning" value="Cancel LOTO Permit" id="cancel-loto" data-id="@loto.id" />
                            }
                            <br />
                            <input type="button" class="btn btn-success loto-log" value="LOTO Log" id="log-log-@loto.id" data-id="@loto.id" />
                            <a href="@Url.Action("Index", "Print", new { id = loto.id, type = 2, no = loto.loto_no})" class="btn btn-primary">Print LOTO Form</a>
                            @if (loto.no_holder == 2)
                            {
                                <a href="@Url.Action("Index", "Print", new { id = loto.holder_2_glarf, type = 3, no = loto.loto_no})" class="btn btn-primary">Print GLARF</a>
                            }
                            else if (loto.no_holder == 3)
                            {
                                <a href="@Url.Action("Index", "Print", new { id = loto.holder_3_glarf, type = 3, no = loto.loto_no})" class="btn btn-primary">Print GLARF</a>
                            }
                            else if (loto.no_holder == 4)
                            {
                                <a href="@Url.Action("Index", "Print", new { id = loto.holder_4_glarf, type = 3, no = loto.loto_no })" class="btn btn-primary">Print GLARF</a>
                            }
                            else if (loto.no_holder == 5)
                            {
                                <a href="@Url.Action("Index", "Print", new { id = loto.holder_5_glarf, type = 3, no = loto.loto_no})" class="btn btn-primary">Print GLARF</a>
                            }
                            else if (loto.no_holder == 6)
                            {
                                <a href="@Url.Action("Index", "Print", new { id = loto.holder_6_glarf, type = 3, no = loto.loto_no})" class="btn btn-primary">Print GLARF</a>
                            }
                            else if (loto.no_holder == 7)
                            {
                                <a href="@Url.Action("Index", "Print", new { id = loto.holder_7_glarf, type = 3, no = loto.loto_no})" class="btn btn-primary">Print GLARF</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Index", "Print", new { id = loto.id_glarf, type = 3, no = loto.loto_no })" class="btn btn-primary">Print GLARF</a>
                            }
                             
                            <a class="btn btn-default" href="javascript:" onclick="showWorkflowLOTO(@loto.id, '@loto.loto_no')"><img class="btn-image" src="@Url.Content("~/Content/Images/glyphicons-427-git-merge.png")" alt="workflow" /></a>
                        </div>
                        <div class="span12">&nbsp;</div>
                    </div>
                    }
		        </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <input type="button" class="btn btn-default" value="Back" id="back" />
        </div>
    </div>
</div>

<!-- Modal -->
<div id="loto-prev" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loto" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="loto-prev-label">Available LOTO Permit</h3>
  </div>
  <div class="modal-body">
    <p>Please select one LOTO</p>
    <input type="hidden" id="selected-id" value="0" />
    <div id="loto-prev-grid"></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id="create-loto">Create LOTO</button>
  </div>
</div>
