@{
    string top = "";
    string left = "";
    string style = "";
}
<div class="workflow-container workflow-row-3">
    <div id="REQUESTOR_INPUT" class="workflow-node workflow-col-1">
	    <div class="workflow-box">
            <div class="workflow-text">Requestor Input</div>
	    </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/right-arrow.svg")))
        </div>
    </div>
    <div id="SUPERVISOR_SCREENING" class="workflow-node workflow-col-2">
	    <div class="workflow-box">
            <div class="workflow-text">Supervisor Screening</div>
        </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/right-arrow.svg")))
        </div>
    </div>
    <div id="FACILITY_OWNER_SCREENING" class="workflow-node workflow-col-3">
	    <div class="workflow-box">
            <div class="workflow-text">Facility Owner Screening</div>
        </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/right-arrow.svg")))
        </div>
    </div>
    <div id="GAS_TESTING" class="workflow-node workflow-col-4">
	    <div class="workflow-box">
            <div class="workflow-text">Gas Testing</div>
        </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/line-horizontal.svg")))
        </div>
    </div>

    <!-- BRIDGING LINE -->
    
    @{
        top = "22px";
        left = "1006px";
        style = string.Format("top: {0}; left: {1};", top, left);
    }
    <div class="workflow-bridge" style="@style">
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/line-vertical.svg")))
    </div>
    
    @{
        top = "109px";
        left = "509px";
        style = string.Format("top: {0}; left: {1};", top, left);
    }
    <div class="workflow-bridge" style="@style">
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/line-horizontal-5x.svg")))
    </div>
    
    @{
        left = "152px";
        style = string.Format("top: {0}; left: {1};", top, left);
    }
    <div class="workflow-bridge" style="@style">
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/line-horizontal-5x.svg")))
    </div>
    
    @{
        top = "121px";
        left = "152px";
        style = string.Format("top: {0}; left: {1};", top, left);
    }
    <div class="workflow-bridge" style="@style">
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/line-vertical.svg")))
    </div>
    
    @{
        top = "207px";
        left = "152px";
        style = string.Format("top: {0}; left: {1};", top, left);
    }
    <div class="workflow-bridge" style="@style">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/line-horizontal.svg")))
    </div>
    
    <!-- ROW 2 -->

    @{
        top = "195px";
        style = string.Format("top: {0};", top);
    }
    <div id="REQUESTOR_APPROVE" class="workflow-node workflow-col-2" style="@style">
	    <div class="workflow-box">
            <div class="workflow-text">Requestor Approve</div>
        </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/right-arrow.svg")))
        </div>
    </div>
    @{
    }
    <div id="SUPERVISOR_APPROVE" class="workflow-node workflow-col-3" style="@style">
	    <div class="workflow-box">
            <div class="workflow-text">Supervisor Approve</div>
        </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/right-arrow.svg")))
        </div>
    </div>
    @{
    }
    <div id="FACILITY_OWNER_APPROVE" class="workflow-node workflow-col-4" style="@style">
	    <div class="workflow-box">
            <div class="workflow-text">Facility Owner Approve</div>
        </div>
    </div>
</div>

<!-- CANCELLATION WORKFLOW -->
<div id="workflow-cancellation" class="workflow-container">
    <hr />
    
    <h3>Cancellation</h3>
    <div id="CANCELLATION_INITIATOR" class="workflow-node workflow-col-1">
	    <div class="workflow-box">
            <div class="workflow-text">Requestor Approve</div>
	    </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/right-arrow.svg")))
        </div>
    </div>
    <div id="CANCELLATION_SUPERVISOR" class="workflow-node workflow-col-2">
	    <div class="workflow-box">
            <div class="workflow-text">Supervisor Approve</div>
        </div>
        <div class="workflow-line">
            @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/svg/right-arrow.svg")))
        </div>
    </div>
    <div id="CANCELLATION_FACILITY_OWNER" class="workflow-node workflow-col-3">
	    <div class="workflow-box">
            <div class="workflow-text">Facility Owner Approve</div>
        </div>
    </div>
</div>