@{
    Layout = null;
}
<script>
    $(document).ready(function () {
        // addHandlerMenu();
    })
</script>

<div id="content-header">
	<h1>Scaffolding Inspection</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom home"><i class="icon-home"></i> Home</a>
	<a href="#" class="current">Scaffolding Inspection</a>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div id="grid-inspection" class="span12"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="add-new" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Reject" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="add-new-label">Add New Scaffolding Inspection</h3>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="datepicker">Valid Until</label>
                <div class="controls">
                  <input id="datepicker" value="@DateTime.Now.ToString("MM/dd/yyyy")" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Inspection Sheet</label>
                <div class="controls">
                  <input type="file" id="files" name="files" />
                    <input type="hidden" id="id-ins" value="" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="add-new-file" type="button">Save</button>
            <span id="loading_add" style="display:none"><img src="/Content/Images/loading.gif" alt="loading" width="24" height="24" /> Saving.. Please Wait..</span>
        </div>
    </form>
</div>

<!-- Modal -->
<div id="extend" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Reject" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="extend-label">Extend Scaffolding Inspection</h3>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="control-group">
                <label class="control-label" for="datepicker">Valid Until</label>
                <div class="controls">
                  <input id="datepicker-2" value="@DateTime.Now.ToString("MM/dd/yyyy")" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="datepicker">Previous Scaf. Inspection</label>
                <div class="controls">
                  <input id="prev-scaffolding" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Inspection Sheet</label>
                <div class="controls">
                  <input type="file" id="files-2" name="files" />
                  <input type="hidden" id="id-ins-2" value="" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="save-file" type="button">Save</button>
            <span id="loading_ext" style="display:none"><img src="/Content/Images/loading.gif" alt="loading" width="24" height="24" /> Saving.. Please Wait..</span>
        </div>
    </form>
</div>
<script type="text/x-kendo-template" id="toolbar-template">
    <div class="row-command">
        <a class="k-button-icontext k-button" href="\#" title="Tambah Produk" onclick="AddNewInspection();"><span class="k-icon k-add"></span> Add Inspection</a>
        <a class="k-button-icontext k-button" href="\#" title="Tambah Produk" onclick="ExtendInspection();"><span class="k-icon k-add"></span> Extend Inspection</a>
        <a class="k-button-icontext k-button" href="@Url.Content("~/Content/Template/scaffolding_inspection.xls")" title="Download Scaffolding Inspection Sheet Template"><span class="k-icon k-download"></span> Download Scaffolding Inspection Sheet Template</a>
    </div>
</script>
<script type="text/x-kendo-template" id="command-template">
    <div class="row-command">
        <a class="k-button-icontext k-button" href="\#" title="Edit" onclick="EditInspection(#= id #,'#= valid_date #');"><span class="k-icon k-edit"></span> Edit</a>
        <a class="k-grid-delete k-button-icontext k-button" href="\#" title="Delete"><span class="k-icon k-delete"></span> Delete</a>
    </div>
</script>
<script>
    $(document).ready(function () {
        var crudServiceBaseUrl = "Home",
            dataSourceIn = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: '@Url.Action("Binding","InspectionNo")',
                        type: "POST"
                    },
                    create: {
                        url: '@Url.Action("Add", "InspectionNo")',
                    type: "POST",
                    complete: function (e) {
                        $("#grid-inspection").data("kendoGrid").dataSource.read();
                    }
                },
                    update: {
                        url: '@Url.Action("Edit", "InspectionNo")',
                    type: "POST",
                    complete: function (e) {
                        $("#grid-inspection").data("kendoGrid").dataSource.read();
                    }
                },
                    destroy: {
                        url: '@Url.Action("Delete", "InspectionNo")',
                    type: "POST",
                    complete: function (e) {
                        $("#grid-inspection").data("kendoGrid").dataSource.read();
                    }
                },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            var result = {};

                            for (var i = 0; i < options.models.length; i++) {
                                var product = options.models[i];
                                console.log(product);
                                for (var member in product) {
                                    if (member == "user") {
                                        result["inspector_id"] = product[member]["id"];
                                    } else if (member == "valid_date") {
                                        var date = product[member];
                                        result["valid_date"] = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes();
                                    } else {
                                        if (product[member] == null) {
                                            result[member] = "";
                                        } else {
                                            result[member] = product[member];
                                        }
                                    }
                                }
                            }

                            return result;
                        }
                    }
                },
                batch: true,
                pageSize: 30,
                schema: {
                    model: {
                        id: "id",
                        fields: {
                            id: { type: "number", editable: false },
                            user: { editable: false },
                            no_inspection: { type: "string" },
                            valid_date: { type: "date", format: "{0:MM/dd/yyyy hh:mm tt}" }
                        }
                    }
                },
                pageSize: 10
            });

        $("#datepicker").kendoDatePicker();
        $("#datepicker-2").kendoDatePicker();

        $("#prev-scaffolding").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "id",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        type: 'POST',
                        url: "@Url.Action("GetScaffolding","InspectionNo")",
                    }
                }
            },
            optionLabel: "--Select One--",
        });

        $("#grid-inspection").kendoGrid({
            dataSource: dataSourceIn,
            pageable: true,
            sortable: true,
            filterable: true,
            toolbar: kendo.template($('#toolbar-template').html()),
            columns: [
                { field: "user", title: "Inspector", type: "string", template: "#=getName(user)#", width: 250 },
                { field: "no_inspection", title: "Inspection No.", type: "string", template: "#= createLink(id_inspection,no_inspection) #" },
                { field: "valid_date", title: "Valid Date", type: "date", format: "{0:dd MMM yyyy}" },
                { template: kendo.template($("#command-template").html()), title: " ", width: "200px" },
            ],
            height: 400,
        });

        $('#add-new-file').click(function () {
            $('#loading_add').show();
            var $file = $('#files');
            var id_inspection = $('#id-ins').val();
            var formdata = new FormData();
            var fileinput = $file[0];

            if (fileinput.files == null || fileinput.files.length < 1) {
                //make sure user selects a file             
                //displayStatus(false, "Pilih sebuah berkas");
                return;
            } else if (fileinput.files[0].type != "application/pdf") {
                //displayStatus(false, "Format berkas harus .xls");
                //$file.val("");
                //return;
            }


            //append data
            formdata.append(fileinput.files[0].name, fileinput.files[0]);
            formdata.append("actionSelector", 1);
            formdata.append("valid_until", $('#datepicker').val());


            var xhr = new XMLHttpRequest();
            // xhr.upload.addEventListener('progress', progressHandlingFunctionRkap, false);
            if (id_inspection == null || id_inspection == "") {
                xhr.open('POST', "@Url.Action("AddNew", "InspectionNo")");
            } else {
                xhr.open('POST', "@Url.Action("Edit", "InspectionNo")");
                formdata.append("id", id_inspection);
            }
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText == "Fail") {
                        //fail
                        $file.val("");
                        //displayStatus(false, "Failed to save.");
                    } else {
                        //success
                        $('#loading_add').hide();
                        $file.val("");
                        $('#id-ins').val('');
                        $('#datepicker').data('kendoDatePicker').value('@DateTime.Now.ToString("MM/dd/yyyy")');
                        $('#add-new').modal('hide');
                        $('#grid-inspection').data('kendoGrid').dataSource.read();
                        //displayStatus(true, "Save succees.");
                    }
                }
            }
        });

        $('#save-file').click(function () {
            $('#loading_ext').show();
            var $file = $('#files-2');
            var id_inspection = $('#id-ins').val();
            var formdata = new FormData();
            var fileinput = $file[0];

            if (fileinput.files == null || fileinput.files.length < 1) {
                //make sure user selects a file             
                //displayStatus(false, "Pilih sebuah berkas");
                return;
            } else if (fileinput.files[0].type != "application/pdf") {
                //displayStatus(false, "Format berkas harus .xls");
                //$file.val("");
                //return;
            }


            //append data
            formdata.append(fileinput.files[0].name, fileinput.files[0]);
            formdata.append("idPrev", $('#prev-scaffolding').data('kendoDropDownList').value());
            formdata.append("actionSelector", 1);
            formdata.append("valid_until", $('#datepicker-2').val());


            var xhr = new XMLHttpRequest();
            // xhr.upload.addEventListener('progress', progressHandlingFunctionRkap, false);
            if (id_inspection == null || id_inspection == "") {
                xhr.open('POST', "@Url.Action("Extension", "InspectionNo")");
            }
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText == "Fail") {
                        //fail
                        $file.val("");
                        //displayStatus(false, "Failed to save.");
                    } else {
                        //success
                        $('#loading_ext').hide();
                        $file.val("");
                        $('#id-ins').val('');
                        $('#datepicker-2').data('kendoDatePicker').value('@DateTime.Now.ToString("MM/dd/yyyy")');
                        $('#extend').modal('hide');
                        $('#grid-inspection').data('kendoGrid').dataSource.read();
                        //displayStatus(true, "Save succees.");
                    }
                }
            }
        });
    });

    

    function AddNewInspection() {
        $('#add-new').modal('show');
    }

    function EditInspection(id, valid_date) {
        var date = new Date(valid_date);
        $('#datepicker').data('kendoDatePicker').value((date.getMonth()+ 1) + '/' + date.getDate() + '/' + date.getFullYear());
        $('#id-ins').val(id);
        $('#add-new').modal('show');
    }

    function ExtendInspection(id, valid_date) {
        $('#extend').modal('show');
    }

    function getName(user) {
        if (user != null) {
            return user.alpha_name;
        }
        return "";
    }

    function createLink(insp,no) {
        if (insp != null) {
            return "<a href='#' onclick='event.preventDefault();goToInspection(\"@Url.Action("InspectionSheet","InspectionNo")/" + insp + "\")'>" + no + "</a>";
        }
        if (no != null) {
            return no;
        }
        return "";
    }

    function goToInspection(route) {
        $('#content').load(route);
    }
</script>